<!DOCTYPE html>
<html>

<head>
    <title>Generated Hash</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        h1 {
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 36px;
        }

        p {
            text-align: center;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <h1>Generated Hash</h1>
    <p>The SHA256 hash of the text '{{ text }}' is: {{ generated_hash }}</p>
    <a href="/">Back to main page</a>
</body>

</html>